@import "./abstracts/mixins";
@import "./abstracts/variables";

.project__container {
	//background-color: royalblue; //temp
	display: flex;
	justify-content: center;
	align-items: center;

	@include xs {
		background-image: url("../assets/project_background1.svg");
		background-position: center;
		background-repeat: repeat-y;
		background-size: contain;
		padding: 2em 2.4em;
	}

	@include md {
		padding: 1.6em 2em;
	}
}

.project__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.6em 1.2em;

	img {
		max-width: 100%;
		border-radius: 6px;
		margin-bottom: 0.4em;
	}

	h4 {
		margin: 0.4em 0;
		align-self: flex-start;
		font-family: $font-secondary;
	}

	@include xs {
		padding: 2.2em 1.8em;
	}

	@include sm {
		padding: 1.6em 1.2em;
	}

	@include md {
		padding: 2em 1.6em;
	}
}

.project__links {
	//background-color: yellowgreen;
	margin: 0.5em 0.5em 0 auto;
	display: inline-block;

	a {
		margin: 0 0.6em;
		font-size: 1.6em;
		color: $neutral-light;
		text-decoration: none;
		transition: $default-transition;

		&:hover {
			color: $neutral-dark;
		}
	}

	@include md {
		a {
			margin: 0 0.2em;
		}
	}

	@include lg {
		a {
			margin: 0 0.4em;
		}
	}
}
