@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";
@import "sass/abstracts/fonts";

@import "sass/base/reset";
@import "sass/base/typography";

@import "sass/components/arrow";
@import "sass/components/project";

@import "sass/layout/contact";
@import "sass/layout/education";
@import "sass/layout/header";
@import "sass/layout/home";
@import "sass/layout/info";
@import "sass/layout/projects";
@import "sass/layout/skills";

@import "sass/app";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
