@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";
@import "sass/abstracts/fonts";

@import "sass/base/reset";
@import "sass/base/typography";

@import "sass/components/arrow";

@import "sass/header";
@import "sass/home";
@import "sass/info";
@import "sass/education";
@import "sass/projects";
@import "sass/project";

@import "sass/app";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
